:root {
    --theme-color-1: #FFF;
    --theme-color-2: #111;
}

* {
    margin: 0;
    color: var(--theme-color-2);
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Georgia", serif;
}

:not(:where(li, ul)) {
    padding: 0;
}

h1, h2, h3 {
    font-weight: 500;
    font-size: 1.25rem;
}

body {
    min-height: 100svh;
    background-color: var(--theme-color-1);
}
